.contact{
  margin-left: -7vh;
  align-items: center;
}

.contact__button{
  background-color: #6672c4;
  width: 170px;
  text-align: center;
  margin-left: 30%;
  color: #f2f2f2;
  border-radius: 20px;
  transition: 0.3s;
  &:hover{
    background-color: #505b9e;
    width: 175px;
    margin-left: 29.5%;
  }
  &:active{
    color: #6672c4;
    background-color: #f2f2f2;
  }
}