.contact{
  height: 10vh;
  margin-left: -7vh;
  align-items: center;
}

.contact__button{
  background-color: #6672c4;
  width: 25%;
  text-align: center;
  margin-left: 37.8%;
  color: #f2f2f2;
  border-radius: 20px;
  transition: 0.3s;
  &:hover{
    background-color: #505b9e;
    width: 28%;
    margin-left: 36.4%;
  }
  &:active{
    color: #6672c4;
    background-color: #f2f2f2;
  }
}