.intro__presentation{
   transition: 0.5s;
   &.is-close{
    transform: translateX(-50vw);
    transition-delay: 0.4s;
   }
}

.nav{
  transform: translateX(-50vw);
  transition: 0.5s;
  list-style-type: none;
  &.is-open{
    transform: translateY(-20vh);
    transition-delay: 0.4s;
  }  
}