.content{
  width: 55%;
  position: relative;
  .loader {
    z-index: 2;
    position: absolute;
    right: 27.5%;
    top: 1%;
    border: 16px solid #f2f2f2 opacity($color: #ffffff00);
    border-radius: 50%;
    border-top: 16px solid #6672c4;
    width: 350px;
    height: 350px;
    -webkit-animation: spin 4s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    animation-direction: reverse;
  }
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .content__mrwn1{
    z-index: 1;
    width: 15%;
    padding-bottom: 7%;
    padding-right: 5%;
    padding-left: 5%;
  &.s1{
    padding-left: 15%;
    transition: 0.3s;    
    } 
  &.s2{
      transition: 0.3s;
    }
  }   
  &:hover .content__mrwn1.s1{
    padding-right: 0%;
    padding-left: 20%;
  }
  &:hover .content__mrwn1.s2{
    padding-right: 10%;
    padding-left: 0%;
  }
}

.content__mrwn2{
  z-index: 3;
  width: 20%;
}