@font-face {
  font-family: 'kwixtersketch';
  src: url('kwixter_sketch_d-webfont.woff2') format('woff2'),
       url('kwixter_sketch_d-webfont.woff') format('woff'),
       url('kwixter_sketch_d-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

body {
  background-color: #f2f2f2;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
}

main{
  width: 1400px;
  margin: 0 auto;
}

li{
  margin-bottom: 20px;
}

a{
  color: #6672c4;
  transition: 0.3s;
  &:hover{
    transform: rotate(10deg) ;
    color: #505b9e;
  }
}

p {
  margin-top: 7%;
  width:80%; 
  text-align: justify;
  line-height: 142%;
}

.header__logo{
  position: relative;
  width: 7%;
  height: 7%;
  margin-left: 3%;
  margin-top: 1%;
}


.intro{
  max-height: 50vh;
  margin-left: 13%;
  margin-top: 0%;
  display: flex;
}

.intro1{
  width: 45%;
}

.intro__name{
  width: 70%;
  background-image: url(../assets/bgtitle.svg);
  font-family:'kwixtersketch';
  font-size: 9vw;
  font-style: italic;
  color:#222328;
  &.sec{
    width: 90%;
    margin-left: 5%;
  }
}

.divcontact{
  margin-left: 13%;
}

.divcontact2{
  margin-left: 45%;
  width: 55%;
}

@media (min-width: 1400px){
  .intro__name{
    font-size: 125px;
  }
}